.mat-grid-tile{
  margin-top: 25px;
}
.city-form{
  width: 100%;
}
.mat-divider-horizontal{
  border-top: 1px #333 solid;
}
.mat-form-field{
  width: 100%;
}

.mat-input-element{
  color: #fff;
  font-weight: 700;
}
