<mat-toolbar>
  <span>Forecast</span>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-grid-list cols="8" [rowHeight]="'100px'" [style.background]="'#212121'">
  <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <form class="city-form" (submit)="$event.preventDefault()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pass your city name</mat-label>
        <input type="text" matInput [formControl]="cityName" [matAutocomplete]="auto" (keyup)="getCities()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let suggestion of (cities$ | async)?.payload" (click)="getForecast(suggestion.data.city)">
            {{suggestion.data.city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
