<mat-grid-list cols="8" [rowHeight]="'250px'" [style.background]="'#212121'">
  <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="daily">
        <table mat-table [dataSource]="dailyPipe((forecast$ | async).payload)"
               class="mat-elevation-z8 demo-table">

          <ng-container matColumnDef="cityName">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element">
              {{element.cityName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="mon">
            <th mat-header-cell *matHeaderCellDef> Mon </th>
            <td mat-cell *matCellDef="let element">
              {{element.mon}}
            </td>
          </ng-container>

          <ng-container matColumnDef="tue">
            <th mat-header-cell *matHeaderCellDef> Tue </th>
            <td mat-cell *matCellDef="let element">
              {{element.tue}}
            </td>
          </ng-container>

          <ng-container matColumnDef="wed">
            <th mat-header-cell *matHeaderCellDef> Wed </th>
            <td mat-cell *matCellDef="let element">
              {{element.wed}}
            </td>
          </ng-container>

          <ng-container matColumnDef="thu">
            <th mat-header-cell *matHeaderCellDef> Thu </th>
            <td mat-cell *matCellDef="let element">
              {{element.thu}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fri">
            <th mat-header-cell *matHeaderCellDef> Fri </th>
            <td mat-cell *matCellDef="let element">
              {{element.fri}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sat">
            <th mat-header-cell *matHeaderCellDef> Sat </th>
            <td mat-cell *matCellDef="let element">
              {{element.sat}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sun">
            <th mat-header-cell *matHeaderCellDef> Sun </th>
            <td mat-cell *matCellDef="let element">
              {{element.sun}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="dailyCols"></tr>
          <tr mat-row *matRowDef="let row; columns: dailyCols;"></tr>

        </table>
      </mat-tab>

      <mat-tab label="hourly">
        <table mat-table [dataSource]="hourlyPipe((forecast$ | async).payload)"
               class="mat-elevation-z8 demo-table">

          <ng-container matColumnDef="cityName">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element">
              {{element.cityName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_00">
            <th mat-header-cell *matHeaderCellDef> 00:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_00}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_03">
            <th mat-header-cell *matHeaderCellDef> 03:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_03}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_06">
            <th mat-header-cell *matHeaderCellDef> 06:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_06}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_09">
            <th mat-header-cell *matHeaderCellDef> 09:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_09}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_12">
            <th mat-header-cell *matHeaderCellDef> 12:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_12}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_15">
            <th mat-header-cell *matHeaderCellDef> 15:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_15}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_18">
            <th mat-header-cell *matHeaderCellDef> 18:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_18}}
            </td>
          </ng-container>

          <ng-container matColumnDef="col_21">
            <th mat-header-cell *matHeaderCellDef> 21:00 </th>
            <td mat-cell *matCellDef="let element">
              {{element.col_21}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="hourlyCols"></tr>
          <tr mat-row *matRowDef="let row; columns: hourlyCols"></tr>

        </table>
      </mat-tab>

    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>

